body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    background-color: beige;
}

h1, h2, h3 {
    text-align: center;
    color: burlywood;
    font-family: cursive;
}


input { 
    padding: 10px;
    width: 200px;
    margin: 10px 0;
    border: 1px solid silver;
    border-radius: 10px;

}

li {
    font-size: 20px;
    text-align: center;
}

.form_layout {
    text-align: center;
}

.menu {
    font-family: cursive;
    text-align: center;
}

.menu li {
    color: burlywood;
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    margin: 0% auto;
    position: relative;
    padding: 10px 4%;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
}
    
.menu li:hover {
    color: black;
    background-color: white;
}

.submit {
    text-align: center;
}

.email {
    text-align: center;
}

.logo {
    text-align: center;
}

.column img {
    width: 300px; 
    height: 300px;
    border: 2px double black;
    border-radius: 6px;
    display: inline-block;
}

.bunny_live iframe {
    border: 5px dashed burlywood;
}

.bunny_live {
    text-align: center;
}

.row {
    /* effects where the images are*/
    display: flex;
    margin: 0px 400px;
    

}



.gallery {
    padding: 5px;
}

.row > .column {
    padding: 0px 18px;
}

.column { 
    width: 33%;
    text-align: center;
    float: left;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;


}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

